@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);

:root {
--color-light-50: #f8fafc;
--color-dark-50: #797984;
--color-dark-100: #312d37;
--color-dark-900: #000;
--color-purple-50: #CCC6EB;
--color-purple-100: #8f89c9;
--color-purple-200: #6c67a3;

--color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    width: 100%;
    height: 100vh;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#login_form {
    background: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height:fit-content;
    animation: light-to-light 0.3s ease-in-out;
}

#login_button {
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 12px; 
    font-size: 18px;
    border-radius: 8px; 
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

#form_header {
    display:flex;
    align-items:center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 3px;
    background-color: var(--color-purple-50);
    bottom: 10px;
    border-radius: 5px;
}

#mode_icon {
    cursor: pointer;
    font-size: 20px;
}

#social_media {
    display: flex;
    justify-content: space-around;
}

#social_media img {
    width: 65px;
transition: transform 0.3s;;
}

#social_media img:hover {
    transform: scale(1.2);
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.input-box label {
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    border-bottom: none; 
}

.input-field i {
    font-size: 18px;
    color: var(--color-dark-900);
    display: flex;
    align-items: center;
    min-width: 20px;
    text-align: center;
}



.input-field input {
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 18px;
    padding: 5px 0;
    outline: none;
}



.input-field {
    display: flex;       
    align-items: center; 
    gap: 15px;
    width: 100%;
    border-bottom: 1px solid var(--color-purple-50); 
    padding-bottom: 5px;

}

.decorations i, .bubble {
    position: absolute;
    color: white;
    opacity: 0.5;
    animation: float 8s infinite ease-in-out;
}

.heart { top: 10%; left: 10%; font-size: 30px; }
.star { bottom: 15%; right: 10%; font-size: 25px; animation-delay: 2s; }
.cloud { top: 20%; right: 15%; font-size: 40px; animation-delay: 4s; }

@keyframes float {
    0%, 100% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-30px) rotate(15deg); }
}

.bubble {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    bottom: 20%;
    left: 20%;
}

.dark#login_form {
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation: light-to-dark 0.3s ease-in-out;
}   

.dark#login_form .input-field input,
.dark#login_form .input-field i {
    color: var(--color-light-50);   
}

@keyframes dark-to-light {
    0% {
        background-color: var(--color-dark-100);
    }
    100% {
        background-color: var(--color-light-50);
    }
}

@keyframes light-to-dark {
    0% {
        background-color: var(--color-light-50);
    }
    100% {
        background-color: var(--color-dark-100);
    }
}
